/* Estilo geral para todos os elementos: remove margem e padding padrão, 
define a fonte e a cor de texto */
* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 36);
}

/* Estilo para o corpo da página: define a cor de fundo */
body {
  background-color: rgb(0, 153, 180);
}

/* Estilo para o cabeçalho: define a cor de fundo, margem e padding */
header {
  background-color: rgb(1, 99, 116);
  margin: 0px;
  padding: 10px auto 10px auto;
}

/* Estilo para o elemento principal (main): remove margem e padding */
main {
  padding: 0px;
  margin: 0px;
}

/* Estilo para o título principal (h1): centraliza o texto e adiciona padding */
h1 {
  margin: 0px;
  padding: 20px;
  text-align: center;
}

/* Estilo para o subtítulo (h2): define alinhamento, bordas, tamanho de fonte e um fundo com gradiente radial */
h2 {
  text-align: center;
  margin: 0px;
  padding: 10px;
  border: 2px solid black;
  font-size: 20px;
  background: radial-gradient(rgb(0, 217, 255), #9198e5);
}

/* Estilo para o terceiro nível de título (h3): centraliza o texto e dá destaque com negrito */
h3 {
  text-align: center;
  padding-bottom: 10px;
  font-weight: bold;
}

/* Estilo para os elementos dentro do h2 com id "o": define padding, borda arredondada, e sombra */
h2 #o {
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.350);
}

/* Estilo para os elementos dentro do h2 com id "x": define padding, borda arredondada, e sombra */
h2 #x {
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.350);
}

/* Estilo para o container das células: define gradiente de fundo, tamanho, bordas e layout de grid */
.container {
  background: linear-gradient(rgb(0, 217, 255), #9198e5);
  width: 400px;
  height: 400px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.350);
  margin: 10px auto 0px auto;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

/* Estilo para os efeitos de hover nas células vazias, com opacidade ajustada */
.container.x .cell:not(.x):not(.circle):hover::after,
.container.x .cell:not(.x):not(.circle):hover::before,
.container.circle .cell:not(.x):not(.circle):hover::after,
.container.circle .cell:not(.x):not(.circle):hover::before {
  background: rgba(0, 0, 0, 0.30)!important;
}

/* Estilo para as células do tabuleiro: define tamanho, bordas, alinhamento e posicionamento relativo */
.cell {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Estilo para impedir que células marcadas possam ser clicadas novamente */
.cell.x, .cell.circle {
  cursor: not-allowed;
}

/* Estilos para remover bordas das células nas extremidades do tabuleiro */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}
.cell:nth-child(9),
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

/* Estilo para o X: cria as duas linhas cruzadas com antes e depois */
.cell.x::before,
.cell.x::after,
.container.x .cell:not(.x):not(.circle):hover::after,
.container.x .cell:not(.x):not(.circle):hover::before {
  content: "";
  height: calc(70px * 0.15);
  width: calc(70px * 0.9);
  background: black;
  position: absolute;
}

.cell.x::before,
.container.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}
.cell.x::after,
.container.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

/* Estilo para o círculo: cria o círculo com antes e depois */
.cell.circle::before,
.cell.circle::after,
.container.circle .cell:not(.x):not(.circle):hover::after,
.container.circle .cell:not(.x):not(.circle):hover::before {
  content: "";
  height: calc(70px * 0.9);
  width: calc(70px * 0.9);
  background: black;
  position: absolute;
  border-radius: 50%;
}

/* Estilo para ocultar a mensagem de vitória por padrão */
.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  flex-direction: column;
}

/* Estilo para o texto da mensagem de vitória */
.winning-message p{
  color: white;
  font-size: 60px;
  text-shadow: 2px 2px 5px black;
}

/* Estilo para o botão de reiniciar na mensagem de vitória */
.winning-message button {
  font-size: 2.5rem;
  background-color:rgb(0, 217, 255);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-top: 16px;
  color: white;
  box-shadow: 2px 2px 10px black;
}

/* Efeito de hover no botão de reiniciar */
.winning-message button:hover {
  background-color: white;
  color: rgb(0, 217, 255);
  box-shadow: 2px 2px 10px black;
}

/* Efeito de clique no botão de reiniciar */
.winning-message button:active{
  background-color: white;
  color: rgb(0, 217, 255);
  box-shadow: inset 2px 2px 7px black;
}

/* Estilo para exibir a mensagem de vitória quando ativada */
.show-winning-message {
  display: flex;
}

/* Estilo para a área de exibição de vitórias */
#vitorias{
  padding: 10px;
}

/* Efeito de clique no botão de reset */
#buttonReset:active {
  background: radial-gradient(rgb(58, 1, 1),rgb(15, 0, 0), rgb(188, 2, 2), red);
}

/* Estilo para o layout de contagem de vitórias */
.contagem {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, auto);
  padding: 5px 0px 20px 0px;
}

/* Estilo para a div que envolve a contagem */
.div-contagem {
  width: 6em;
  height: 50px;
  padding: 5px 0px;
  text-align: center;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  background: linear-gradient(rgb(0, 217, 255), #9198e5);
}

/* Estilo para a exibição de contagem de vitórias de X */
#count-x{
  margin: 5px auto;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

/* Estilo para a exibição de contagem de vitórias de O */
#count-o{
  margin: 5px auto;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

/* Estilo para a exibição de empates */
#count-draws{
  margin: 5px auto;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

/* Estilo para o botão de reset */
#buttonReset{
  padding: 5px 15px;
  margin: 20px 10px;
  color: red;
  background: radial-gradient(rgb(58, 1, 1),rgb(15, 0, 0), red);
  border: 2px solid red;
  border-radius: 10px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.226);
}

/* Estilo para as imagens de rodapé */
img {
  max-width: 20px;
  padding-top: 5px;
}

/* Estilo para fixar o rodapé na parte inferior */
#fixarRodape {
  background-color:rgb(1, 99, 116);
  position: relative;
  bottom: 0;
  text-align: center;
  padding: 10px;
}

footer a:hover {
  color: red;
}